# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/github-workflow.json
---
name: Synchronize GitHub repository labels

on:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml

jobs:
  synchronize:
    name: Synchronize GitHub repository labels

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - name: Synchronize GitHub repository labels with '.github/labels.yml' manifest
        uses: micnncim/action-label-syncer@3abd5ab72fda571e69fffd97bd4e0033dd5f495c # v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
